{% extends 'base.html' %}
{% block content %}

  <h1>Playground Details</h1>

  <div class='row'>
    <div class='col s6 col-offset-3'>
      <div class='card'>
        <div class='card-content'>
          <span class='card-title'> {{ playground.name }} </span>
          <p>Virtual Location: {{ playground.virtual_location }} </p>
          <p>Features: {{ playground.features }} </p>
          {% if playground.current_capacity == playground.max_capacity %}
            <br>
            <p style="color:red">Sorry, this playground is full. Try another playground!</p>
          {% else %}
            <p>Current capacity: {{ playground.current_capacity }} </p>
            <p>Max capacity: {{ playground.max_capacity }} </p>
          {% endif %}
        </div>
        <div class='card-action'>
          <a href="{% url 'pg_update' playground.id %}">Edit</a>
        </div> 
      </div>
    </div>
  </div>

<h1>Current Pets Playing: </h1>
{% for pet in pets %}
  <div class='card'>
    <a href="{% url 'detail' pet.id %}">
      <div class='card-content'>
        <span class='card-title'>{{ pet.name }}</span>
        <p>Breed: {{ pet.breed}} </p>
        <p>Description: {{ pet.description}} </p>
        <p>Color: {{ pet.color}} </p>
        {% if pet.age > 0%}
          <p>Age: {{ pet.age}} </p>
        {% else %}
          <p>Age: Little baby</p>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}

{% endblock  %}