{% extends 'base.html' %}
{% block content %}

<h1>Playground Details</h1>

<div class='row'>
  <div class='col s6 col-offset-3'>
    <div class='card'>
      <div class='card-content'>
        <span class='card-title'> {{ playground.name }} </span>
        <p>Virtual Location: {{ playground.virtual_location }} </p>
        <p>Current capacity: {{ playground.current_capacity }} </p>
        <p>Max capacity: {{ playground.max_capacity }} </p>
        <p>Features: {{ playground.features }} </p>
      </div>
      <div class='card-action'>
        <a href="{% url 'pg_update' playground.id %}">Edit</a>

        {% comment %} Need to 1) update url and able to select which pet, and 2) increment the current capacity count {% endcomment %}
        <a href="{% url 'pg_update' playground.id %}">Add Pet to this Playground</a>

      </div> 
    </div>
  </div>
</div>

<h1>Current Pets in Play</h1>
{% comment %} Add pics/list of pets here - stretch goal {% endcomment %}

{% endblock  %}