{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <h1 id="pagetitle" class="text-center mt-3">Playgrounds</h1>
  <div class="row mt-3">
    {% for playground in playgrounds %}
    <div class="col-md-6">
      <div class="card border border-warning">
        <a href="{% url 'pg_detail' playground.id %}">
          <div class="card-header text-dark text-center border-bottom border-warning">
            <h1 id="title">{{ playground.name }}</h1>
          </div>
        </a>
        <div class="card-body text-muted">
          <p>
            <d id="petdesc" class="text-dark">Location :</d> {{ playground.virtual_location }}
          </p>
          <p>
            <d id="petdesc" class="text-dark">Features :</d> {{ playground.features }}
          </p>
          
          {% if playground.current_capacity == playground.max_capacity %}
          <br>
            <p class="btn btn-outline-danger btn-disabled justify-content-center">Playground is full. Try another playground!</p>
            {% else %}
            <p>
              <d id="petdesc" class="text-dark">Current capacity :</d> {{ playground.current_capacity }}
            </p>
            <p>
              <d id="petdesc" class="text-dark">Max capacity :</d> {{ playground.max_capacity }}
            </p>
            {% endif %}
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}