{% extends 'base.html' %}
{% block content %}




<div class="container-fluid">
  <h1 id="title" class="text-center mt-3">PlayGrounds</h1>
  <div class="row mt-3">
    {% for playground in playgrounds %}
    <div class="col-md-6">
      <div class="card border border-warning">
        <a href="{% url 'pg_detail' playground.id %}">
          <div class="card-header text-dark text-center border-bottom border-warning">
            <h1 id="title">{{ playground.name }}</h1>
          </div>
        </a>
        <div class="card-body">
          <p>Virtual Location: {{ playground.virtual_location }} </p>
          <p>Features: {{ playground.features }} </p>
          {% if playground.current_capacity == playground.max_capacity %}
          <br>
          <p style="color:red">Sorry, this playground is full. Try another playground!</p>
          {% else %}
          <p>Current capacity: {{ playground.current_capacity }} </p>
          <p>Max capacity: {{ playground.max_capacity }} </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}