{% extends 'base.html' %}
{% block content %}

<h1>Pet Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ pet.name }}</span>
        <p>Breed: {{ pet.breed }}</p>
        <p>Description: {{ pet.description }}</p>
        {% if pet.age > 0 %}
          <p>Age: {{ pet.age }}</p>
        {% else %}
          <p>Age: Little baby</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' pet.id %}" method='POST'>
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add feeding">
    </form>

    <br>
    {% if pet.fed_for_today %}
      <div class="card-panel teal-text center-align">{{pet.name}} has been fed all meals for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{pet.name}} might be hungry</div>
    {% endif %}

    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in pet.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ pet.name }}'s Toys</h3>
      {% if pet.toys.count %}
        {% for toy in pet.toys.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }} made of {{ toy.material }}
              </span>
            </div>
            {% comment %} REMOVE TOY {% endcomment %}
            <div class="card-action">
              <form action="{% url 'assc_toy' pet.id toy.id %}" method="delete">
              {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
            {% comment %} END REMOVE TOY {% endcomment %}
          </div>
        {% endfor %}
      {% else %}
        <h5>{{ pet.name }} has no toys :(</h5>
      {% endif %}
    </div>

  <div class="col s6">
    <h3>Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }} made of {{ toy.material }}
            </span>
          </div>
          {% comment %} ADD TO PET'S LIST OF TOYS {% endcomment %}
          <div class="card-action">
            <form action="{% url 'assc_toy' pet.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add to {{ pet.name}}'s List</button>
            </form>
          </div>
          {% comment %} END ADD ACTION {% endcomment %}
        </div>
      {% endfor %}
    {% else %}
      <h5>{{pet.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>
</div>

<script>
  let dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  let selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}