{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid text-center">
  <h1 id="title" class="mb-5" >
    Meet the Team
  </h1>
	<div class="row">
		
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="{% static "static/images/uyen.jpeg" %} " alt="My image" class="rounded-circle mb-3" />
					<h2>
            Uyen Lam
          </h2>
          <h6>
            Software Engineer
          </h6>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12 text-center">
					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mb-3" />
					<h2>
            Steven Limon
          </h2>
          <h6>
            Software Engineer
          </h6>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12 text-center">
					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mb-3" />
					<h2>
            Eduardo Bonilla
          </h2>
          <h6>
            Software Engineer
          </h6>
				</div>
			</div>
		</div>
	</div>
</div>












{% endblock %}

