{% extends 'base.html' %}
{% block content %}

<div class="container-fluid border border-warning">
	<div class="row">
		<div class="col-md-12 text-center mt-3">
			<h1 id="title" class="mb-5" >
        Meet the Team
      </h1>
      
      <div class="row">

				<div class="col-sm-7code col-md-4 col-lg-4 col-xl-4">
					<div class="card p-5 text-center border border-warning">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mt-2 ml-4 mr-4 mb-2"/>
						<h2>
              Uyen Lam
            </h2>
            <h6>
              Software Engineer
            </h6>
					</div>
        </div>
        

				<div class="col-sm-7 col-md-4 col-lg-4 col-xl-4">
					<div class="card p-5 text-center border border-warning">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mt-2 ml-4 mr-4 mb-2" />
						<h2>
              Steven Limon
            </h2>
            <h6>
              Software Engineer
            </h6>
					</div>
        </div>


				<div class="col-sm-7 col-md-4 col-lg-4 col-xl-4">
					<div class="card p-5 text-center border border-warning">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle mt-2 ml-4 mr-4 mb-2" />
						<h2>
              Eduardo Bonilla
            </h2>
            <h6>
              Software Engineer
            </h6>
					</div>
        </div>


			</div>
		</div>
	</div>
</div>

{% endblock %}