{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
  <h1 id="title" class="mt-3" >Wild Pets for Adoption</h1>
  <div class="row">
    {% for pet in pets %}
      <div class="col-md-4">
        <div class="card border border-info">
          <div class="card-header text-muted border-bottom border-info">
            <a href="{% url 'detail' pet.id %}" class="btn btn-outline-info btn-block" role="button">{{ pet.name|upper }}</a>
          </div>
            <div class="card-body">
              <p> <d id="petdesc"> Breed :</d> {{ pet.breed}} </p>
              <p> <d id="petdesc"> Description :</d> {{ pet.description}} </p>
              <p> <d id="petdesc"> Color :</d> {{ pet.color}} </p>
              {% if pet.age > 0%}
                <p> <d id="petdesc"> Age :</d> {{ pet.age}} </p>
              {% else %}
                <p> <d id="petdesc"> Age :</d> Little baby</p>
              {% endif %}
            </div>
            <div class='card-action text-center border-top border-info'>
              {% if user.is_authenticated %}
                <a href="{% url 'adopt_pet' pet.id %}">Adopt Me!</a>
              {% else %}
                <a href="{% url 'login' %}">
                <p class="btn btn-info">Log in to adopt me!</p>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}