{% extends 'base.html' %}
{% block content %}

<h1>Available Pet List</h1>

{% for pet in pets %}
  <div class='card'>
    <a href="{% url 'detail' pet.id %}">
      <div class='card-content'>
        <span class='card-title'>{{ pet.name|upper }}</span>
        <p>Breed: {{ pet.breed}} </p>
        <p>Description: {{ pet.description}} </p>
         <p>Color: {{ pet.color}} </p>
        {% if pet.age > 0%}
          <p>Age: {{ pet.age}} </p>
        {% else %}
          <p>Age: Little baby</p>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}