{% extends 'base.html' %}
{% block content %}

<!-- <h1>Sign Up</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn" value="signup">
</form> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card border border-warning mt-4">
        <h1 class="card-header border-bottom border-warning" id="title">Sign Up</h1>

        <div class="card-body">
          {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-warning" value="signup">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

